/*  */
.sec {
    padding: 100px 0;
}

.content {
    height: 100vh;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

/* ----------------------------------------header------------------------------------------- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    line-height: 100px;
    text-align: center;

    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

#header:hover {
    background: rgba(0, 0, 0, 0.5);
}

#header.on {
    line-height: 70px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: none;
}

#header .logo {
    display: block;
    background-image: url(../img/logo-w.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 200px;
}

#header.on .logo {
    background-image: url(../img/logo.png);
}


#header .gnb>ul {
    display: flex;
}

#header .gnb>ul>li>a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
}

#header .gnb>ul>li .menu_wrap {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    line-height: 50px;

    background: rgba(0, 0, 0, 0.5);

    display: none;
}

#header .gnb>ul>li:hover .menu_wrap {
    display: block;
}

#header .gnb>ul>li .menu_wrap .smenu {
    display: flex;
    /* justify-content: center; */
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    font-weight: 500;
}

#header .gnb>ul>li:nth-child(1) .menu_wrap ul {
    transform: translate(220px, 0);
}

#header .gnb>ul>li:nth-child(2) .menu_wrap ul {
    transform: translate(330px, 0);
}

#header .gnb>ul>li:nth-child(3) .menu_wrap ul {
    transform: translate(450px, 0);
}

#header .gnb>ul>li:nth-child(4) .menu_wrap ul {
    transform: translate(560px, 0);
}

#header .gnb>ul>li:nth-child(7) .menu_wrap ul {
    transform: translate(940px, 0);
}

#header .gnb>ul>li:nth-child(8) .menu_wrap ul {
    transform: translate(1060px, 0);
}

/* ----------메뉴리스트---------- */
#header .nav-all {
    font-size: 30px;
}

#header .gnb_list {
    display: none;
}

/* ----------------------------------------main------------------------------------------- */
/* ----------mainslide---------- */
#mainVisual {
    position: relative;
    color: #fff;
}

.mainSlide img {
    width: 100%;
    height: 100vh;
}

.mainSlide .img_name {
    position: absolute;
    top: 200px;
    right: 200px;

    font-size: 25px;
    font-weight: 700;
}

.mainSlide .textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainSlide .textbox span {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 7px;
    margin: 0 0 30px 0;
    text-decoration: underline rgba(255, 255, 255, 0.8);
    text-underline-offset: 10px;
}

.mainSlide .textbox h3 {
    font-size: 70px;
    line-height: 90px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSlide .textbox p {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

.mainSlide .swiper-button-prev,
.mainSlide .swiper-button-next {
    color: #fff;
}

.mainSlide .swiper-pagination-bullet-active {
    background: #fff;
}



.title_wrap {
    text-align: center;
    color: #000;
    margin: 0 0 50px 0;
}

.title_wrap h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.tit-eng {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 7px;
    text-decoration: underline #000;
    text-underline-offset: 10px;
}

/* ----------사업소개---------- */
#businessArea {
    background: rgba(0, 0, 0, 0.1)
}

#businessArea .title_wrap {
    margin: 0 0 150px 0;
}

#businessArea .content-wrap {
    display: flex;
    gap: 30px;
}

#businessArea img {
    width: 100%;
}

#businessArea .content-wrap .textbox {
    padding: 40px 20px;
    background: #fff;
}

#businessArea .content-wrap .textbox span {
    color: #000;
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#businessArea .content-wrap .textbox p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 30px 0;
}

#businessArea .content-wrap .textbox a {
    display: block;
    padding: 15px 20px;
    background: #242424;
    color: #fff;

    text-align: center;
    font-size: 16px;
    display: none;
}

#businessArea figure {
    transition: 0.5s;
}

#businessArea figure:hover {
    margin-top: -6.5em;
}

#businessArea figure:hover .textbox {
    overflow: visible;
    height: auto;
}

#businessArea figure:hover .textbox a {
    display: block;
    height: auto;
}

/* ----------사업소개---------- */
#saleVisual .saleSlide {
    position: relative;
}

#saleVisual .swiper-slide {
    display: flex;
}

#saleVisual .swiper-slide img {
    width: 50%;
}

#saleVisual .sale_text_wrap {
    flex: 1;
}

#saleVisual .sale_text_wrap .salestate_ing {
    display: block;
    font-size: 25px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
    color: #fff;

    width: 100px;
    height: 100px;
    background: -webkit-gradient(linear, right bottom, left top, from(#f585ff), to(#8af1ff));
    margin: 0 0 100px 0;
}

#saleVisual .sale_text_wrap .sale_deco_desc {
    color: #aaa;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    margin: 0 0 20px 0;
}

#saleVisual .sale_text_wrap .sale_tit {
    font-weight: 600;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 50px 0;
}

#saleVisual .sale_text_wrap .sale_tel {
    color: #999;
    font-weight: 800;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 50px 0;
}

#saleVisual .sale_text_wrap p {
    font-size: 20px;
    line-height: 30px;
}

#saleVisual .sale_text_wrap>a {
    position: absolute;
    bottom: 0;

    padding: 30px 120px;
    background: #555;
    color: #fff;

    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#saleVisual .sale_text_wrap>a>i {
    margin: 0 10px 0 0;
}


#saleVisual .sale_btn_wrap>div {
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 999;

    width: 100px;
    height: 100px;
    background: #555;
    color: #fff;
}

#saleVisual .sale_btn_wrap .swiper-button-prev {
    margin: 0 0 0 -50px;
    transform: translate(0, 0);
}

#saleVisual .sale_btn_wrap .swiper-button-next {
    margin: 0 0 0 50px;
    transform: translate(0, 0);
}

/* ----------회사소식---------- */
#mainNews {
    background: #fff url(../img/bgImg_02.jpg) no-repeat 50% 0;
    background-size: cover;
}

#mainNews .title_wrap {
    color: #fff;
}

#mainNews .tit-eng {
    text-decoration: underline #fff;
}


#mainNews .news_list {
    display: flex;
}

#mainNews .news_list li {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;

    background: #fff;
    height: 300px;
    padding: 40px 20px;
    transition: 0.5s;
}

#mainNews .news_sec {
    margin: 0 0 50px 0;
}

#mainNews .news_sec .newstitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #f0f5f6;
}

#mainNews .news_sec .newstitle h4 {
    margin: 0 0 20px 0;
    color: #999;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    width: 150px;
    text-decoration: underline #999;
    text-underline-offset: 10px;
}

#mainNews .news_sec .newstitle span {
    color: #242424;
    font-size: 36px;
    font-weight: 500;
}

#mainNews .news_sec .newsli:hover {
    z-index: 2;
    transform: scale(1.07);
    box-shadow: 20px 20px 25px rgba(34, 34, 34, 0.35);
}

#mainNews .news_sec .newsli a {
    position: relative;
    height: 100%;
}

#mainNews .news_sec .news-tit {
    font-size: 20px;
    line-height: 30px;
    color: #242424;
}

#mainNews .news_sec .newsli .news-date {
    position: absolute;
    bottom: 0;
}

/* 뉴스 밑 */
#mainNews .down_sec {
    display: flex;
}

.down_sec {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
}

.down_sec a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.down_sec .pr_brochure {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    color: #fff;
    background: url(../img/news_01.jpg) no-repeat 50% 40%;
    background-size: 100%;
    transition: all 0.5s;
}

.down_sec .pr_brochure::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    border: 10px solid #fff;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in;
    opacity: .3;
}

.down_sec .pr_brochure:hover {
    background-size: 120%;
    transition: all 0.5s ease-in;
}

.down_sec .pr_brochure:hover::after {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 10px solid #fff;
    transform: translate(-50%, -50%);
    opacity: .25;
}

.down_sec .pr_brochure .tit_eng {
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 28px;
    text-decoration: underline #fff;
    text-underline-offset: 10px;
    margin: 0 0 30px 0;
}


.down_sec .pr_brochure h4 {
    font-size: 60px;
    font-weight: 500;
}

.down_sec .pr_wellaum {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    background: url(../img/news_02.jpg) no-repeat 50% 26%;
    background-size: 100%;
}

.down_sec .pr_wellaum::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    border: 10px solid #fff;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in;
    opacity: .3;
}

.down_sec .pr_wellaum:hover {
    background-size: 120%;
    transition: all 0.5s ease-in;
}

.down_sec .pr_wellaum:hover::after {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 10px solid #fff;
    transform: translate(-50%, -50%);
    opacity: .25;
}

.down_sec .pr_wellaum img {
    height: 60px;
    margin: 0 0 30px 0;
}

.down_sec .pr_wellaum .tit_info {
    font-weight: 500;
    font-size: 30px;
}


/* ----------인재채용---------- */
#careers {
    background: url(../img/bgImg_03.jpg) no-repeat 50% 0;
    background-size: cover;
    text-align: center;
    position: relative;
}

#careers .title_wrap {
    color: #fff;
}

.tit_desc {
    font-size: 22px;
}

.sec_top {
    margin: 0 0 110px 0;
    color: #fff;
}

.sec_top .career_list {
    display: flex;
    flex-flow: row wrap;
}

.sec_top .career_list li {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    /* vertical-align: top; */
}


.sec_top .career_list li~li:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -50%;
    height: 4px;
    width: 150px;
    background: rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -50%);
    border-radius: 3px;
}


.sec_top .career_list li .circle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    text-align: center;
}

.sec_top .career_list li {
    border: 4px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.sec_top .career_list .list1:hover {
    border: none;
    background: #406ccf;
    background: -webkit-gradient(linear, right bottom, left top, from(#406ccf), color-stop(90%, #9364db));
    border-radius: 50%;
}

.sec_top .career_list .list2:hover {
    border: none;
    background: #e8880a;
    background: -webkit-gradient(linear, right bottom, left top, from(#e8880a), color-stop(90%, #cb141e));
    border-radius: 50%;
}

.sec_top .career_list .list3:hover {
    border: none;
    background: #5d9753;
    background: -webkit-gradient(linear, right bottom, left top, from(#5d9753), color-stop(90%, #158fc2));
    border-radius: 50%;
}


.sec_top .career_list h4 {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
}

.sec_top .career_list .circle i {
    display: none;
    margin: 0 0 0 10px;
    font-size: 24px;
}

.sec_top .career_list .circle:hover i {
    display: inline-block;
}

/* sec_middle */
.sec_middle {}

.sec_middle .recruit_listwrap {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.sec_middle .recruit_listwrap .golink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    background: #89755d;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
}

.sec_middle .recruit_list {
    flex: 1 0 66.6%;
    height: 100px;
    background: #f3f4f5;
}

.sec_middle .recruit_list ul {
    position: relative;
}

.sec_middle .recruit_list li {
    position: relative;
    width: 100%;
    text-align: left;
}

.sec_middle .recruit_list a {
    display: flex;
    align-items: center;
    line-height: 100px;
    justify-content: space-between;
    padding: 0 40px;
}

.sec_middle .recruit_list .recruit_tit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    color: #242424;
    font-weight: 400;
    font-size: 20px;
}

.sec_middle .recruit_list .ing {
    width: 100px;
    height: 40px;
    margin: 0 20px;
    border-radius: 20px;
    background: #242424;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.sec_middle .recruit_list .recruit_date {
    color: #999;
    font-weight: 700;
    font-size: 20px;
}


/*  */
.sec_bottom {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32%;
    background: #f3f4f5;
}

.sec_bottom .inner {
    z-index: 1;
    height: 100%;
    display: flex;
}

.sec_bottom .align,
.sec_bottom a {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}


.sec_bottom h4 {
    color: #141414;
    font-size: 30px;
    margin: 0 0 40px 0;
}

.sec_bottom a img {
    margin: 0 0 30px 0;
    height: 50px;
}

.sec_bottom .p1 {
    color: #666;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.sec_bottom .customer {
    flex: 1;
    background: #f3f4f5;
}

.sec_bottom .customer .phone-num {
    color: #89755d;
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.sec_bottom .ethic {
    flex: 1;
    border-right: 1px solid #dbdbdb;
    background: #fff;
}

.sec_bottom .location {
    flex: 1;
    background: #fff;
}

/* * {
    outline: 1px solid tomato;
} */

/* ----------footer---------- */
footer {
    padding: 100px 0;
    background: #242424;
}

footer .inner {
    display: flex;
}

footer .left {
    width: 75%;
    color: #999;
    font-size: 18px;
}

footer .left .user_info {
    margin: 0 0 30px 0;
    color: #ab957d;
}

footer .left .user_info li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

footer .left address .info {
    padding: .225em 0;
    line-height: 1.5;
}

footer .left address strong {
    padding-right: 12px;
    font-weight: 700;
    font-style: normal;
}

footer .left address .num {
    padding-left: 10px;
}

footer .left address .num em {
    padding-right: 5px;
    font-weight: 700;
    font-style: normal;
}

footer .left .copyr {
    line-height: 1.5;
}

footer .sel-link {
    position: relative;
    z-index: 10;
    width: 22%;
    margin-left: auto;
    font-size: 1.6rem;
}

footer .sel-link .button-select {
    position: relative;
    width: 100%;
    height: 3.4375em;
    padding: 1.1875em 1.6875em;
    border: 1px solid #666;
    border-radius: 0;
    color: #999;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: left;
    vertical-align: middle;
}

footer .sel-link .button-select i {
    position: absolute;
    right: 28px;
    top: 48%;
    width: 14px;
    height: 8px;
    background: url(../images/common/ic-arrowt1.png) no-repeat 50% 50%;
    background-size: cover;
    -webkit-transition: all 0.2s cubic-bezier(0.77, 0, 0.18, 1);
    transition: all 0.2s cubic-bezier(0.77, 0, 0.18, 1);
}

footer .sel-link .button-select.open i {
    top: 50%;
    width: 15px;
    height: 1px;
    background: #8c8c8c url(../images/common/ic-arrowt1.png) no-repeat 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

footer .sel-link .select-list {
    display: none;
    position: absolute;
    bottom: 9.6075em;
    width: 100%;
    height: auto;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #666;
    background: #242424;
}

footer .sel-link .select-list li {
    padding: .7em 1.5882em;
    color: #999;
    text-align: left;
    vertical-align: middle;
}

footer .sel-link .select-list li a {
    display: block;
}

footer .sel-link .select-list li .fmsite-group {
    color: #b29c82;
    font-weight: 700;
}

footer .sel-link .select-list li:first-child {
    padding-top: 1.3875em;
}

footer .sel-link .select-list li:last-child {
    padding-top: 1.3875em;
}